@page "/eventos"
@inject ListarEventosUseCase ObtenerEventosUseCase
@inject SesionUsuario Sesion
@rendermode InteractiveServer
@inject IServicioAutorizacion ServicioAutorizacion

<h3>Eventos</h3>

@if (usuario is null)
{
    <p>Debés iniciar sesión para ver los eventos.</p>
}
else if (eventos is null)
{
    <p>No existen eventos.</p>
}
else
{
    if (tienePermisoEventoAlta)
    {
        <button class="btn btn-success mb-3">Nuevo Evento</button>
    }

    foreach (var evento in eventos)
    {
        <div class="card mb-3 p-3 border">
            <h4>@evento.Nombre</h4>
            <p><strong>Descripción:</strong> @evento.Descripcion</p>
            <p><strong>Fecha y hora de inicio:</strong> @evento.FechaHoraInicio.ToString("dd/MM/yyyy HH:mm")</p>
            <p><strong>Duración:</strong> @evento.DuracionHoras hora(s)</p>
            <p><strong>Cupo máximo:</strong> @evento.CupoMaximo personas</p>
            <p><strong>ID del responsable:</strong> @evento.ResponsableId</p>

            @if (tienePermisoEventoModificacion)
            {
                <button class="btn btn-primary me-2">Modificar</button>
            }
            @if (tienePermisoEventoBaja)
            {
                <button class="btn btn-danger">Eliminar</button>
            }
        </div>
    }
}

@code {
    private List<EventoDeportivo>? eventos;
    private Usuario? usuario;
    private bool tienePermisoEventoAlta;
    private bool tienePermisoEventoBaja;
    private bool tienePermisoEventoModificacion;

    protected override void OnInitialized()
    {
        usuario = Sesion.Usuario;

        if (usuario is null)
            return;

        eventos = ObtenerEventosUseCase.Ejecutar();

        tienePermisoEventoAlta = ServicioAutorizacion.PoseeElPermiso(usuario.Id, Permiso.EventoAlta);
        tienePermisoEventoBaja = ServicioAutorizacion.PoseeElPermiso(usuario.Id, Permiso.EventoBaja);
        tienePermisoEventoModificacion = ServicioAutorizacion.PoseeElPermiso(usuario.Id, Permiso.EventoModificacion);
    }
}
